table, tr, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

img[alt="Photo de profil"]{
    border: 5px dotted mediumaquamarine;
    opacity:90%;
}

img[alt="Photo de profil"]:hover{
    transform:scale(1.1);
    transition: 0.5s;

}

main{
    margin-inline: 15%;
}

body{
    background: rgb(26,101,134);
    background: radial-gradient(circle, rgba(26,101,134,1) 0%, rgba(0,212,255,0.7875350823923319) 100%); 
}

.content{
    margin-left: 5%;   
}

#schedule{
    background-color: #FFFFFF;
}

#schedule td:hover{
    background-color: #D3D3D3;
}

#schedule caption{
    text-transform: uppercase;
}

.url:hover{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

form label,input,textarea,button{
    margin-bottom: 5px;
    display: block;
}